<!doctype html>
<html>
  <head>
    <title>Select Society</title>
  </head>
  <body>
    <h2>Select Your Society</h2>

    <form action="/resident-login" method="GET">
      <select name="society">
        <option value="">-- Select Society --</option>

        <option value="planet-millennium">Planet Millennium</option>

        <option value="green-acres">Green Acres</option>

        <option value="rose-valley">Rose Valley</option>
      </select>
      <hr />
      <hr />
      <hr />
      <hr />
      <hr />
      <br /><br />

      <button type="submit">Continue</button>
    </form>
  </body>
</html>
